<DIV style="padding: 10px;">
    <h1 style="float:left;padding-right: 10px;">Matcha </h1>
    <FORM style="float:left;padding-top: 20px"><img src="../<%= user[0]['profile_pic']%>" style="border-radius: 50%;width:50px;height:50px;padding: 10px;"></FORM><BR />
    <FORM style="float:left;padding-top: 15px" action="/loggedin/myprofile"><BUTTON type= "submit">My Profile</BUTTON></FORM>
    <FORM style="float:left;padding-top: 15px" action="/loggedin/search"><BUTTON type= "submit">Search</BUTTON></FORM>
    <FORM style="float:left;padding-top: 15px" action="/loggedin/home"><BUTTON type= "submit">Browse</BUTTON></FORM>
    <FORM style="float:left;padding-top: 15px" action="/loggedin/notifications"><BUTTON type= "submit">Notifications <p id="not"></p></BUTTON></FORM>
    <FORM style="float:left;padding-top: 15px" action="/loggedin/chat/connections"><BUTTON type= "submit">Chat <p id="c"></p></BUTTON></FORM>
    <FORM style="float:left;padding-top: 15px" action="/users/logout"><BUTTON type= "submit">Logout</BUTTON></FORM>
</DIV>
<br />
<br /><br />
<br />

<label><h2> PROFILES THAT FOUND YOU INTERESTING </h2></label>
<div style="padding-left: 20PX;">
    <% userr.forEach(function(resul){ %>
                
        <a href='/loggedin/viewprofile?id=<%= resul["id"] %>'> <img src="../<%=resul['profile_pic']%>" style="border-radius: 50%;width:100px;height:100px"></a>
        <% if (resul["online"] == "1") {%>
        <h5 style="color: blue;">online</h5>
        <% } %>
        <% if (resul["online"] == "0") { %>
        <h5 style="color:red;">offline</h5>
        <% } %>
        <h3><%=  resul["username"] %> </h3>
        <p>:bio <%=  resul["bio"] %></p>
    <% }); %>
</div>

<script>
    (function (delay, callback) {
        var loop = function () {
            callback();
            setTimeout(loop, delay);    
        }; loop();
    })(10000,function () {
        xhttp = new XMLHttpRequest();
        xhttp.open("GET","/loggedin/chat/update", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                if (this.readyState == 4 && this.status == 200) {
                document.getElementById("c").innerHTML = this.responseText;
                }
            }
        }
})
</script> 

<script>
    (function (delay, callback) {
        var loop = function () {
            callback();
            setTimeout(loop, delay);    
        }; loop();
    })(10000,function () {
        xhttp = new XMLHttpRequest();
        xhttp.open("GET","/loggedin/notifications/read", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                if (this.readyState == 4 && this.status == 200) {
                document.getElementById("not").innerHTML = this.responseText;
                }
            }
        }
})
</script>